fastapi
uvicorn
gunicorn
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic==2.11.7
pydantic-settings
email-validator
python-dotenv
fastapi-mail==1.5.0
httpx
redis
asyncio
upstash-redis
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytz
pandas
pusher
pusherclient